<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>ACNet Fishing App</title>{% endblock %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container">

    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>
