{% extends "base_generic.html" %}

{% block content %}
<div class="index">
  <h1>Fishy Database Home</h1>
  <p>Welcome to ACNet Fishy Database, a website developed in <em>Python and Django</em>!</p>
  <h2>Dynamic content</h2>
  <p>The Fishy Database has the following record counts:</p>
  <ul>
    <li><strong>Venues:</strong> {{ num_venues }}</li>
    <li><strong>Trips:</strong> {{ num_trips }}</li>
    <li><strong>Catches:</strong> {{ num_catches }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>
{% endblock %}
