html { height : 100%; }
body { 
    height : 100%; 
    background-color: lightblue;
}

.league-table {
    border: 2px solid blue;
}

.league-table td, th {
    border: 2px solid blue;
    text-align: center; 
    padding: 4px;
}

.results-page {
    margin-left: 200px;
    margin-right: auto
}

.results-page h1, h2, h3, p {
    text-align: left;
    color: blue;
}

.results-table {
    border: 2px solid blue;
    border-collapse: collapse;
}

.results-table td { 
    border: 2px solid blue;
    text-align: center;
    padding: 4px 
}

.results-table th {
    border: 2px solid blue;
    background-color: #f2f200;
    padding: 4px 
}

.fishy-table tr:nth-child(even) {background-color: lightblue }
.fishy-table tr:nth-child(odd) {background-color: #70CCC7;}
.fishy-table th, td {
    padding: 15px; 
    text-align: left;
}

.fishy-stats-table tr:nth-child(even) {background-color: lightblue }
.fishy-stats-table tr:nth-child(odd) {background-color: #70CCC7;}
.fishy-stats-table th, td {
    padding: 10px; 
    text-align: right;
}

.index h1, h2, a, p {
    text-align: left;
}

/* The sidebar menu */
.sidebar-nav {
  height: 100%;
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  list-style: none;
}

/* The navigation menu links */
.sidebar-nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar-nav a:hover {
  color: #f1f1f1;
}

.sidebar-nav h4 {
  color: blue;
  font-size: 20px;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */ 
  background-color: lightblue;
}

.main h1 {
  color: blue;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav_stats {padding-top: 15px;}
  .sidenav_stats a {font-size: 18px;}
} 
