{% extends "backup/base_generic.html" %}

{% block content %}
    <h1>Backup List</h1>
    {% if pi190_records %}
        <table border="1" id="centred_table">
            <tr>
                <th class="l">PI Name</th>
                {% for day in dates_list %}
                    {% if forloop.counter0 < 4 %}
                        <th class="c">{{day}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="l">PI190</a></td>
                {% for pi in pi190_records %}
                    {% if pi.date not in dates_list %}
                        <td  class="c" style="background-color:#ff0000;">Fail</td>
                    {% else %}
                        {% if pi.result == 'S' %}
                            <td class="c" style="background-color:#00ff00;">Success</td>
                        {% else %}
                            <td class="c" style="background-color:#ff0000;">Fail</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="l">PI191</a></td>
                {% for pi in pi191_records %} 
                    {% if pi.date not in dates_list %}
                        <td class="c" style="background-color:#ff0000;">Fail</td>
                    {% else %}
                        {% if pi.result == 'S' %}
                            <td class="c" style="background-color:#00ff00;">Success</td>
                        {% else %}
                            <td class="c" style="background-color:#ff0000;">Fail</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="l">PI192</a></td>
                {% for pi in pi192_records %} 
                    {% if pi.date not in dates_list %}
                        <td class="c" style="background-color:#ff0000;">Fail</td>
                    {% else %}
                        {% if pi.result == 'S' %}
                            <td class="c" style="background-color:#00ff00;">Success</td>
                        {% else %}
                            <td class="c" style="background-color:#ff0000;">Fail</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="l">PI193</a></td>
                {% for pi in pi193_records %} 
                    {% if pi.date not in dates_list %}
                        <td class="c" style="background-color:#ff0000;">Fail</td>
                    {% else %}
                        {% if pi.result == 'S' %}
                            <td class="c" style="background-color:#00ff00;">Success</td>
                        {% else %}
                            <td class="c" style="background-color:#ff0000;">Fail</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
    {% else %}
        <div>No records returned from database</div>	
    {% endif %}
{% endblock %}
