{% extends "base_generic.html" %}

{% block content %}
<div class="container bg-info p-3">
   <h1>Delete Bait</h1>
   <div class="row">
      <div class="col"> </div>
      <div class="col">
         <form action="" method="post">{% csrf_token %}
            <table class="table">
               <tr>
                  <td>ID</td>
                  <td>{{bait.id}}</td></tr>
               <tr>
                  <td>Name</td>
                  <td>{{bait.name}}</td>
               </tr>
    {% if user.is_authenticated %}
               <tr>
                  <td></td>
                  <td class="r">
                     <button type="submit" class="btn btn-danger" value="Confirm">Confirm</button>
                  </td>
               </tr>
    {% endif %}     
            </table>
         </form>
      </div>
      <div class="col"> </div>
   </div>
</div>
{% endblock content %}
