{% extends "base_generic.html" %}

{% block content %}
        <div class="container bg-info p-4">
            <h1>Bait List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for bait in bait_list %}
                    <tr>
                        <td><a href="{{ bait.get_absolute_url }}">{{ bait.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
