{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div class="page-card catch-detail-card">

    <h1 class="page-title">
        <span class="line"></span>
        {{ catch.fish }}
        <span class="line"></span>
    </h1>

    <p class="page-subtitle">
        {{ catch.trip.venue }} - {{ catch.trip.date|date:"l j F Y" }}
    </p>

    <div class="catch-detail-content">

        <div class="catch-information">

            <div class="catch-info-item">
                <div class="catch-info-label">
                    Weight
                </div>
                <div class="catch-info-value">
                    {{ weight_display }}
                </div>
            </div>

            <div class="catch-info-item">
                <div class="catch-info-label">
                    Bait
                </div>
                <div class="catch-info-value">
                    {{ catch.bait }}
                </div>
            </div>

            <div class="catch-info-item">
                <div class="catch-info-label">
                    Method
                </div>
                <div class="catch-info-value">
                    {% if catch.method == 'F' %}
                        Float
                    {% elif catch.method == 'L' %}
                        Ledger
                    {% else %}
                        Method Feeder
                    {% endif %}
                </div>
            </div>

            <div class="catch-info-item">
                <div class="catch-info-label">
                    Catch Time
                </div>
                <div class="catch-info-value">
                    {{ catch.catch_time|date:"H:i" }}
                </div>
            </div>

        </div>

        {% if catch.photo == 'Y' %}

            <div class="catch-photo">
                <img
                    src="/static/images/fish/{{ catch.id }}.jpg"
                    alt="{{ catch.fish }}"
                >
            </div>

        {% endif %}

    </div>

    <div class="catch-navigation">

        <a href="{{ catch.trip.get_absolute_url }}"
           class="btn btn-primary">
            Back to Trip
        </a>

    </div>


    {% if user.is_authenticated %}

        <div class="catch-admin">

            <a class="btn btn-sm btn-warning"
               href="{% url 'catch_edit' catch.pk %}"
               role="button">
                Edit Catch
            </a>

            <a class="btn btn-sm btn-danger"
               href="{% url 'catch_delete' catch.pk %}"
               role="button">
                Delete Catch
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}
