{% extends "base_generic.html" %}

{% block content %}
<div class="container bg-info p-4">
    <h1>Delete Catch</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col"> </div>
            <div class="col-6">
                <table class="table">
                    <tr><td>ID</td><td>{{catch.id}}</td></tr>
                    <tr><td>Trip</td><td>{{catch.trip}}</td></tr>
                    <tr><td>Fish</td><td>{{catch.fish}}</td></tr>
                    <tr><td>Weight</td><td>{{catch.weight}}</td></tr>
                    <tr><td>Bait</td><td>{{catch.bait}}</td></tr>
                    <tr><td>Weighed</td><td>{{catch.weighed}}</td></tr>
                    <tr><td>Method</td><td>{{catch.method}}</td></tr>
                </table>
            </div>
            <div class="col"> </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col text-center">
                   <button class="btn btn-sm btn-danger" type="submit" value="Confirm">Confirm</button>
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}
