{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ catch.trip }}</h1>
  <BR><BR>
  <TABLE class ="fishy-table">
      <TR>
          <TH>Trip:</TH>
          <TD><a href="/trip/{{catch.trip.id}}">{{ catch.trip }}</a></TD>
      </TR>
      <TR>
          <TH>Fish:</TH>
          <TD> {{ catch.fish }} </TD>
      </TR>
      <TR>
          <TH>Weight (oz) :</TH>
          <TD> {{ catch.weight }} </TD>
      </TR>
      <TR>
          <TH>Weighed:</TH>
          <TD> {{ catch.weighed }} </TD>
      </TR>
      <TR>
          <TH>Bait:</TH>
          <TD> {{catch.bait }}</a></TD>
      </TR>
      <TR>
          <TH>Method:</TH>
          <TD> 
              {% if catch.method == 'F' %}
                  Float
              {% elif catch.method == 'L' %}
                  Ledger
              {% else %}
                  Method Feeder
              {% endif %}
          </TD>
      </TR>
      <TR>
          <TH>Catch Time:</TH>
          <TD> {{ catch.catch_time|date:'Y-m-d H:i' }} </TD>
      </TR>
      {% if user.is_authenticated %}
          <TR>
              <TD><a href="{% url 'catch_edit' catch.pk %}">Edit Catch</a></TD>
              <TD><a href="{% url 'catch_delete' catch.pk %}">Delete Catch</a></TD>
          </TR>
      {% endif %}
  </TABLE>
{% endblock %}
