{% extends "base_generic.html" %}

{% block content %}
<h1>Delete Catch</h1>
<form action="" method="post">{% csrf_token %}
<table class="fishy-table">
    <tr><td>ID</td><td>{{catch.id}}</td></tr>
    <tr><td>Trip</td><td>{{catch.trip}}</td></tr>
    <tr><td>Fish</td><td>{{catch.fish}}</td></tr>
    <tr><td>Weight</td><td>{{catch.weight}}</td></tr>
    <tr><td>Bait</td><td>{{catch.bait}}</td></tr>
    <tr><td>Weighed</td><td>{{catch.weighed}}</td></tr>
    <tr><td>Method</td><td>{{catch.method}}</td></tr>
    {% if user.is_authenticated %}
        <tr><td></td><td class="r"><button type="submit" value="Confirm">Confirm</button></td></tr>
    {% endif %}
</table>
</form>
{% endblock content %}
