{% extends 'base_generic.html' %}

{% block content %}

    <h1>Edit Catch: {{ catch.trip }}</h1>
    <form action="" method="post">{% csrf_token %}
        <table class="fishy-table">
            <tr>
                <td>Database ID</td>
                <td>{{catch.id}}</td>
                <td>Primary Key</td>
            </tr>
            <tr>
                <td><label for="id_trip">Trip:</label></td>
                <td><select name="trip" required id="id_trip">
                    {% for trip in trips %}
                        {% if trip.id == catch.trip_id %}
                            <option value="{{trip.id}}" selected>{{trip.date|date:'Y-m-d'}} {{trip.venue}}</option>
                        {% else %}
                            <option value="{{trip.id}}">{{trip.data}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label for="id_fish">Fish:</label></td>
                <td><select name="fish" required id="id_fish">
                    {% for fish in fishes %}
                        {% if fish.id == catch.fish_id %}
                            <option value="{{fish.id}}" selected>{{fish.name}}</option>
                        {% else %}
                            <option value="{{fish.id}}">{{fish.name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label for="id_weight">Weight:</label></td>
                <td><input type="number" name="weight" value="{{catch.weight}}" required id="id_weight"></td>
                <td><span class="helptext">Weight in ounces</span></td>
            </tr>
            <tr>
                <td><label for="id_weighed">Weighed:</label></td>
                <td><select name="weighed" id="id_weighed">
                    {% if catch.weighed == 'Y' %}
                        <option value="Y" selected>Yes</option>
                        <option value="N">No</option>
                    {% else %}
                        <option value="Y">Yes</option>
                        <option value="N" selected>No</option>
                    {% endif %}
                </td> 
                <td><span class="helptext">Weighed (if N = estimated)</span></td>
            </tr>
            <tr>
                <td><label for="id_bait">Bait:</label></td>
                <td><select name="bait" required id="id_bait">
                    {% for bait in baits %}
                        {% if bait.id == catch.bait_id %}
                            <option value="{{bait.id}}" selected>{{bait.name}}</option>
                        {% else %}
                            <option value="{{bait.id}}">{{bait.name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label for="id_method">Method:</label></td>
                <td><select name="method" id="id_method">
                    {% if catch.method == 'F' %}
                        <option value="F" selected>Float</option>
                        <option value="L">Ledger</option>
                        <option value="M">Method Feeder</option>
                    {% endif %}
                    {% if catch.method == 'L' %}
                        <option value="F">Float</option>
                        <option value="L" selected>Ledger</option>
                        <option value="M">Method Feeder</option>
                    {% endif %}
                    {% if catch.method == 'M' %}
                        <option value="F">Float</option>
                        <option value="L">Ledger</option>
                        <option value="M" selected>Method Feeder</option>
                    {% endif %}
                    </select>
                </td>
                <td><span class="helptext">Method used for catch</span></td>
             </tr>
             {% if user.is_authenticated %}
                 <tr><td></td>
                     <td></td>
                     <td class = "r"><button type="submit" value="Update">Update</button></td>
                 </tr>
             {% endif %}
       </table>

    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}

    </form>

{% endblock content %}
