{% extends "base_generic.html" %}

{% block content %}
  <h1>Catch List</h1>
  {% if catch_list %}
  <table class="fishy-table">
     <tr>
         <th>Date</th>
         <th>Venue</th>
         <th>Fish</th>
         <th>Weight (oz)</th>
         <th>Weighed</th>
         <th>Method</th>
         <th>Photo</th>
     </tr>
    {% for catch in catch_list %}
     <tr>
         <td><a href="{{ catch.get_absolute_url }}">{{catch.trip.date|date:'Y-m-d'}}</a></td>
         <td>{{catch.trip.venue}}</td>
         <td>{{catch.fish.name}}</td>
         <td class="c">{{catch.weight}}</td>
         <td class="c">{{catch.weighed}}</td>
         <td>
             {% if catch.method == 'F' %}
                 Float
             {% elif catch.method == 'L' %}
                 Ledger
             {% else %}
                 Method Feeder
             {% endif %}
         </td>
         {% if catch.photo == 'N' %}
             <td class="c">None</td>
         {% elif catch.photo == 'Y' %}
             <td class="c"><a href="{{ catch.get_absolute_url }}">View</a></td>
         {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no catches in the library.</p>
  {% endif %}       
{% endblock %}
