{% extends 'base_generic.html' %}

{% block content %}
<div class="container bg-info p-4">
    <h1>New Fish</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col"> </div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td><label for="id_name">Name:</label></td>
                        <td><input type="text" name="name" maxlength="25" required id="id_name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="id_latin_name">Latin Name:</label></td>
                        <td><input type="text" name="latin_name" maxlength="35" required id="id_latin_name"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><label for="id_uk_record">UK Record:</label></td>
                        <td><input type="number" name="uk_record" required id="id_uk_record"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col"> </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-sm btn-danger" type="submit" value="Save">Save</button>
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}
