{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<div class="home-card">
 
    <h1 class="page-title">
        <span class="line"></span>
        ACNet Fishing
        <span class="line"></span>
    </h1>

    <p class="page-subtitle">
        Welcome to the ACNet Fishing App &ndash; A record of fishing trips, venues and catches.
    </p>

    <div class="home-stats">

        <div class="home-stat">
            <img src="{% static 'images/top_lock.jpg' %}"
                 alt="Fishing venue">

            <div class="home-stat-text">
                <span class="home-stat-number">
                    {{ num_venues }}
                </span>
                <span class="home-stat-label">
                    Venues
                </span>
            </div>
        </div>


        <div class="home-stat">
            <img src="{% static 'images/angler.jpg' %}"
                 alt="Fishing trip">

            <div class="home-stat-text">
                <span class="home-stat-number">
                    {{ num_trips }}
                </span>
                <span class="home-stat-label">
                    Trips
                </span>
            </div>
        </div>


        <div class="home-stat">
            <img src="{% static 'images/fish/1307.jpg' %}"
                 alt="Fish catch">

            <div class="home-stat-text">
                <span class="home-stat-number">
                    {{ num_catches }}
                </span>
                <span class="home-stat-label">
                    Catches
                </span>
            </div>
        </div>

    </div>


    <div class="home-carousel">

        <div id="homeCarousel"
             class="carousel slide"
             data-bs-ride="carousel">

            <div class="carousel-indicators">

                <button type="button"
                        data-bs-target="#homeCarousel"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1">
                </button>

                <button type="button"
                        data-bs-target="#homeCarousel"
                        data-bs-slide-to="1"
                        aria-label="Slide 2">
                </button>

                <button type="button"
                        data-bs-target="#homeCarousel"
                        data-bs-slide-to="2"
                        aria-label="Slide 3">
                </button>

                <button type="button"
                        data-bs-target="#homeCarousel"
                        data-bs-slide-to="3"
                        aria-label="Slide 4">
                </button>

                <button type="button"
                        data-bs-target="#homeCarousel"
                        data-bs-slide-to="4"
                        aria-label="Slide 5">
                </button>

            </div>


            <div class="carousel-inner">

                <div class="carousel-item active">

                    <img src="{% static 'images/fish/1342.jpg' %}"
                         class="d-block w-100"
                         alt="Common Carp">

                    <div class="carousel-caption">

                        <h5>Common Carp</h5>

                        <p>
                            Top Lock : 26/07/2021 : 6 lb 8 oz
                        </p>

                    </div>

                </div>


                <div class="carousel-item">

                    <img src="{% static 'images/fish/1090.jpg' %}"
                         class="d-block w-100"
                         alt="Tench">

                    <div class="carousel-caption">

                        <h5>Tench</h5>

                        <p>
                            Limbrick Fishery : 19/08/2020 : 1 lb 15 oz
                        </p>

                    </div>

                </div>


                <div class="carousel-item">

                    <img src="{% static 'images/fish/1403.jpg' %}"
                         class="d-block w-100"
                         alt="Rainbow Trout">

                    <div class="carousel-caption">

                        <h5>Rainbow Trout</h5>

                        <p>
                            Cricket Field : 23/03/2021 : 2 lb 5 oz
                        </p>

                    </div>

                </div>


                <div class="carousel-item">

                    <img src="{% static 'images/fish/1087.jpg' %}"
                         class="d-block w-100"
                         alt="Bream">

                    <div class="carousel-caption">

                        <h5>Bream</h5>

                        <p>
                            Lancaster House : 22/07/2020 : 1 lb 4 oz
                        </p>

                    </div>

                </div>


                <div class="carousel-item">

                    <img src="{% static 'images/fish/1664.jpg' %}"
                         class="d-block w-100"
                         alt="Mirror Carp">

                    <div class="carousel-caption">

                        <h5>Mirror Carp</h5>

                        <p>
                            Top Lock : 03/10/2022 : 4 lb 07 oz
                        </p>

                    </div>

                </div>

            </div>


            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#homeCarousel"
                    data-bs-slide="prev">

                <span class="carousel-control-prev-icon"
                      aria-hidden="true">
                </span>

                <span class="visually-hidden">
                    Previous
                </span>

            </button>


            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#homeCarousel"
                    data-bs-slide="next">

                <span class="carousel-control-next-icon"
                      aria-hidden="true">
                </span>

                <span class="visually-hidden">
                    Next
                </span>

            </button>

        </div>

    </div>

</div>

{% endblock %}
