{% extends "base_generic.html" %}

{% block content %}
<div class="container bg-info p-4">
    <h1>Delete Trip</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col"> </div>
            <div class="col">
                <table class="table">
                    <tr><td>ID</td><td>{{trip.id}}</td></tr>
                    <tr><td>Venue</td><td>{{trip.venue}}</td></tr>
                    <tr><td>Date</td><td>{{trip.date|date:'Y-m-d'}}</td></tr>
                </table>
            </div>
            <div class="col"> </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-sm btn-danger" type="submit" value="Confirm">Confirm</button>
                </div>
            </div>
        {% endif %}
    </form>
</div>
{% endblock content %}
