{% extends 'base_generic.html' %}

{% block content %}
<div class="container bg-info p-4">
    <h1>Edit Venue: {{ venue.name }}</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="row">
            <div class="col"> </div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <td><label for="id_wac">Wac:</label></td>
                        <td><select name="wac" required id="id_wac">
                                 {% if venue.wac == 'N' %}
                                     <option value="Y">Yes</option>
                                     <option value="N" selected>No</option>
                                 {% else %}
                                     <option value="Y" selected>Yes</option>
                                     <option value="N" >No</option>
                                 {% endif %} 
                             </select>
                        </td>
                        <td><span class="helptext">Withnell Water or not</span></td>
                    </tr>
                    <tr>
                        <td><label for="id_postcode">Postcode:</label></td>
                        <td><input type="text" name="postcode" value="{{venue.postcode}}" maxlength="10" required id="id_postcode"></td>
                    </tr>
                 </table>
            </div>
            <div class="col"> </div>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-sm btn-danger" type="submit" value="Update">Update</button>
                </div>
            </div>
        {% endif %}

        {% if form.errors %}
           {% for field in form %}
               {% for error in field.errors %}
                  <div class="alert alert-danger">
                       <strong>{{ error|escape }}</strong>
                  </div>
               {% endfor %}
           {% endfor %}
        {% endif %}
    </form>
</div>

{% endblock content %}
