{% extends "base_generic.html" %}

{% block content %}
  <h1>Venue: {{ venue.name }}</h1>
  <BR><BR>
  <TABLE class="fishy-table">
     <TR>
        <TH>Name:</TH>
        <TD> {{ venue.name }} </TD>
     </TR>
     <TR>
        <TH>WAC Water:</TH>
        <TD> {{ venue.wac }} </TD>
     </TR>
     <TR>
        <TH>Postcode:</TH>
        <TD> {{ venue.postcode }} </TD>
     </TR>
     {% if user.is_authenticated %}
         <TR>
             <TD><a href="{% url 'venue_edit' venue.pk %}">Edit Venue</a></TD>
             <TD><a href="{% url 'venue_delete' venue.pk %}">Delete Venue</a></TD>
         </TR>
     {% endif %}
  </TABLE>
{% endblock %}
