{% extends "base_generic.html" %}

{% block content %}
  <h1>Venue: {{ venue.name }}</h1>
  <BR><BR>
  <TABLE class="fishy-table">
     <TR>
        <TH>Name:</TH>
        <TD> {{ venue.name }} </TD>
     </TR>
     <TR>
        <TH>WAC Water:</TH>
        <TD> {{ venue.wac }} </TD>
     </TR>
     <TR>
        <TH>Postcode:</TH>
        <TD> {{ venue.postcode }} </TD>
     </TR>
     <TR>
     <TD colspan="2">
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{venue.postcode}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com/divi-discount/"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
     </TD>
     </TR>
     {% if user.is_authenticated %}
         <TR>
             <TD><a href="{% url 'venue_edit' venue.pk %}">Edit Venue</a></TD>
             <TD><a href="{% url 'venue_delete' venue.pk %}">Delete Venue</a></TD>
         </TR>
     {% endif %}
  </TABLE>
{% endblock %}
