{% extends "base_generic.html" %}

{% block content %}

<div class="page-card venue-detail-card">

    <h1 class="page-title">
        <span class="line"></span>
        {{ venue.name }}
        <span class="line"></span>
    </h1>

    <p class="page-subtitle">
        {{ venue.postcode }}
    </p>


    <table class="venue-stats-table">

        <tr>
            <th>WAC Water</th>
            <th>Visits</th>
            <th>Fish Caught</th>
            <th>Total Weight</th>
        </tr>

        <tr>
            <td>{{ venue.wac }}</td>
            <td>{{ total_visits }}</td>
            <td>{{ total_fish }}</td>
            <td>{{ total_weight }}</td>
        </tr>

    </table>


    <div class="venue-map">

        <iframe
            src="https://maps.google.com/maps?q={{ venue.postcode }}&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            loading="lazy"
            allowfullscreen>
        </iframe>

    </div>


    <div class="venue-navigation">

        <a href="{% url 'venues' %}"
           class="btn btn-primary">
            Back to Venues
        </a>

    </div>


    {% if user.is_authenticated %}

        <div class="venue-admin">

            <a class="btn btn-sm btn-warning"
               href="{% url 'venue_edit' venue.pk %}"
               role="button">
                Edit Venue
            </a>

            <a class="btn btn-sm btn-danger"
               href="{% url 'venue_delete' venue.pk %}"
               role="button">
                Delete Venue
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}
